@import '../../styles/variables';
.popover-container {
  box-sizing: border-box;
  background: $white-color;
  width: 100px;
  box-shadow: 0 0 31px 0 $box-shadow;
  z-index: 1;
  .arrow-up {
    width: 0;
    height: 0;
    box-sizing: border-box;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $white1;
    position: absolute;
    top: -10px;
    right: 60px;
  }
}
