@import '../../styles/_variables.scss';
.dropdown-container {
  position: relative;
  .dropdown-input {
    border: none;
    cursor: pointer;
    width: 160px;
  }
  .dropdown-arrow {
    position: absolute;
    left: 160px;
    top: -3px;
  }
  .arrow-up {
    width: 0;
    height: 0;
    box-sizing: border-box;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: 15px;
    left: 159px;
    border-bottom: 10px solid $skills-button-background;
  }
}
.dropdown-list {
  margin: 10px 0 0 0;
  background-color: $skills-button-background;
  position: absolute;
  z-index: 10;
  left: 20px;
  width: 165px;
  max-height: 150px;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 5px;
  box-sizing: border-box;
  .dropdown-list-items {
    @include set-typeface('sailec-regular');
    color: $white-color;
    padding: 0 5px;
    font-size: 14px;
    line-height: 23px;
    cursor: pointer;
    &:first-child {
      padding-top: 8px;
    }
    &:last-child {
      padding-bottom: 8px;
    }
  }
}
