@import '../../styles/variables';
.user-initial-display-container {
  height: 60px;
  width: 60px;
  box-sizing: border-box;
  border-radius: 50%;
  background: $black-color;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white-color;
  font-weight: bold;
  font-size: 30px;
  p {
    position: relative;
    top: 2px;
    font-size: 16px;
  }
}
.profile-user-image {
  height: 150px;
  width: 150px;
  box-sizing: border-box;
  border-radius: 50%;
  background: $black-color;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white-color;
  font-weight: bold;
  font-size: 50px;
  p {
    position: relative;
    top: 5px;
  }
  &.even-color {
    background: $orange;
  }
  &.odd-color {
    background: $green-color;
  }
}

.header-profile-user-image {
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  border-radius: 50%;
  background: $black-color;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white-color;
  font-weight: bold;
  font-size: 30px;
}
.profile-image {
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  border-radius: 50%;
  background: $black-color;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white-color;
  font-weight: bold;
  font-size: 30px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .user-initial-display-container {
    width: 40px;
    height: 40px;
  }
}
