@import '../../styles/variables';
.loading-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  .loader-background {
    background: $loader-background;
    opacity: 0.6;
    backdrop-filter: blur(6px);
    width: 100%;
    height: 100%;
  }
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 50px;
    height: 50px;
  }
}
