@import '../../styles/variables';

@mixin profile-font() {
  @include set-typeface('sailec-light');
  font-weight: normal;
}
.profile-photo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.user-details,
.profile-image-name-designation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-name-designation {
  margin-left: 30px;
  width: 250px;
}
.profile-name {
  @include set-typeface('ebgaramond-regular');
  margin-bottom: 8px;
  font-size: 33px;
  color: $gray;
}
.profile-designation {
  @include set-typeface('sailec-medium');
  opacity: 0.7;
  font-weight: normal;
  font-size: 18px;
  color: $skills-input-border;
}
.edit-btn {
  @include set-typeface('sailec-medium');
  color: $skills-button-background;
  border: none;
  outline: none;
  font-weight: 500;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  margin: 10px 0;
}
.save-btn {
  @include set-typeface('sailec-light');
  font-weight: normal;
  width: 130px;
  height: 50px;
  margin: 10px;
  border-radius: 25px;
  background-color: $dark-gray;
  color: $white-color;
  border: none;
  outline: none;
  cursor: pointer;
}
.cancel-btn {
  @include set-typeface('sailec-light');
  font-weight: normal;
  width: 130px;
  height: 50px;
  margin: 10px;
  border-radius: 25px;
  color: $dark-gray;
  background-color: $white-color;
  border: 1px solid $dark-gray;
  outline: none;
  cursor: pointer;
}
.save-cancel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone-number {
  @include profile-font();
  font-size: 15px;
  color: $dark-gray;
  margin-top: 15px;
  margin-left: 10px;
}
.profile-emailid {
  @include profile-font();
  margin: 0;
  padding-top: 5px;
  font-size: 15px;
  color: $dark-gray;
  margin-left: 10px;
}
.id-dob-dept {
  @include set-typeface('sailec-medium');
  font-size: 16px;
  color: $dark-gray;
  margin-top: 10px;
}
.profile-skills-header {
  @include set-typeface('ebgaramond-bold');
  font-size: 15px;
  font-weight: bold;
  line-height: 1.47;
  color: $skills-input-border;
  margin-bottom: 15px;
}
.placeholder-text {
  @include set-typeface('sailec-light');
  color: $skills-input-border;
  font-size: 15px;
  opacity: 0.8;
}
.id-dob-dept {
  .placeholder-text {
    @include set-typeface('sailec-medium');
    font-weight: 500;
    font-size: 16px;
  }
}
.profile-designation {
  .placeholder-text {
    font-size: 18px;
  }
}
.projects-listing-section {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  li {
    @include set-typeface('sailec-light');
    font-size: 16px;
    color: $dark-gray;
    font-weight: 500;
    margin: 10px 0;
    box-sizing: border-box;
    &::before {
      content: '\2022';
      color: $black-color;
      font-weight: bold;
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      margin-right: 8px;
    }
  }
  .current-projects {
    li {
      &::before {
        color: $skills-button-background;
      }
    }
  }
  .completed-projects {
    li {
      &::before {
        color: $checkbox-border;
      }
    }
  }
}
