@import '../../styles/_variables.scss';
#google-connect {
  border-color: $black-color;
  color: $white-color;
  background: $black-color
    url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus-white.png')
    no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
}
.landing-container {
  width: 100%;
  height: 100%;
  background-color: $white-color;
}
.directory-container {
  width: 505px;
  height: 529px;
  border-radius: 4px;
  box-shadow: 0 0 31px 0 $box-shadow;
  background-color: $dark-gray;
}
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.signin-btn {
  margin-top: 60px;
  width: 185px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}
.yml-square-logo {
  width: 56px;
  height: 56px;
  object-fit: contain;
  margin-top: 155px;
}
.YML-directory {
  @include set-typeface('sailec-bold');
  font-weight: bold;
  margin: 20px auto;
  width: 176px;
  height: 20px;
  font-size: 20px;
  color: $white-color;
}
@media screen and (max-width: 767px) {
  .directory-container {
    width: 100%;
    height: 100vh;
  }
}
