@import '../../styles/variables';

.button {
  box-sizing: border-box;
  font-size: 14px;
  color: $white-color;
  background-color: $black-color;
  border-radius: 23px;
  border: 1px solid $white-color;
  padding: 10px 20px;
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    cursor: default;
    background-color: $disabled-color;
    color: $grey-text;
    animation: none;
  }
}
.size-small {
  width: 70px;
}
.size-medium {
  width: 150px;
}
.size-large {
  width: 250px;
}
.size-link {
  color: $grey-text;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 23px;
  padding: 10px 20px;
  background-color: transparent;
}
.size-fat {
  box-sizing: border-box;
  width: 195px;
  height: 60px;
  border-radius: 30px;
  padding: 20px 30px 20px 30px;
}
.size-xlarge {
  width: 300px;
}
.border-less {
  border: 0;
}
