@import '../../styles/_variables.scss';
.profile-body {
  height: 100%;
  background-color: $background-color;
}
.profile-container {
  position: relative;
  top: 50px;
  width: 50%;
  border-radius: 4px;
  box-shadow: 8px 8px 15px 0 $box-shadow1;
  padding: 60px;
  background-color: $white-color;
  box-sizing: border-box;
  margin: auto auto 80px;
}

.profile-image-name-designation {
  min-width: 170px;
}

.user-details {
  justify-content: space-around;
}

.profile-photo {
  width: 100px;
  height: 100px;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .profile-container {
    width: 95%;
  }
}
