@import '../../styles/_variables.scss';
.home-body {
  width: 100%;
  height: 100%;
  background-color: $background-color;
}
.user-cards-container {
  width: 90%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 30px;
}
.user-designation {
  @include set-typeface('sailec-light');
  color: $skills-input-border;
  font-size: 16px;
  margin-top: 10px;
}
.user-card-container {
  width: 31%;
  margin: 15px 10px;
  padding: 30px 50px;
  border-radius: 4px;
  box-shadow: 8px 8px 15px 0 $box-shadow1;
  background-color: $white-color;
  box-sizing: border-box;
  height: 240px;
  max-height: 240px;
  &:nth-of-type(2n) {
    .user-initial-display-container {
      background: $orange;
    }
  }
  &:nth-of-type(2n + 1) {
    .user-initial-display-container {
      background: $green-color;
    }
  }
}
.YML-Employee-list {
  height: 31px;
  font-size: 24px;
  font-weight: bold;
  color: $dark-gray;
}
.image-and-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-and-name img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.user-name {
  @include set-typeface('ebgaramond-regular');
  width: 200px;
  font-size: 26px;
  color: $gray;
  text-transform: capitalize;
  margin: 0;
}
.cards {
  text-decoration: none;
  box-sizing: border-box;
}
.grey-border {
  opacity: 0.5;
  border-bottom: solid 2px $skills-input-border;
  margin: 30px 0 0;
  width: 100%;
}
.current-projects-text {
  @include set-typeface('ebgaramond-bold');
  font-weight: bold;
  font-size: 14px;
  color: $skills-input-border;
  margin: 20px 0;
}
.not-started-text {
  @include set-typeface('sailec-light');
  font-weight: normal;
  font-size: 16px;
  color: $skills-input-border;
}
.current-project-section {
  display: flex;
  align-items: center;
  .current-project {
    margin: 0 5px;
    .current-dot {
      display: inline-block;
      box-sizing: border-box;
      width: 8px;
      height: 8px;
      background-color: $skills-button-background;
      border-radius: 50%;
      margin: 0 5px 0 0;
    }
    .project-name {
      @include set-typeface('sailec-light');
      font-size: 16px;
      color: $dark-gray;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .user-card-container {
    width: 45%;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .user-card-container {
    width: 95%;
    padding: 20px;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .image-and-name {
    img {
      width: 40px;
      height: 40px;
    }
  }
}
