@import '../../styles/_variables.scss';
.chat-item {
  position: relative;
  top: 80px;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  height: calc(100% - 30px);
  overflow-y: scroll;
  background-color: #cac9c9;
}

strong {
  color: #000000;
}

.message-data {
  text-transform: capitalize;
  font-size: 20px;
  color: #595959;
  display: block;
  padding: 10px;
}

.bubble-container {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  font-size: 14px;
  align-items: center;
}

.bubble-direction-reverse {
  flex-direction: row-reverse;
}

.bubble {
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 6px $box-shadow;
  display: block;
  padding: 18px;
  position: relative;
  color: white;
  word-wrap: break-word;
}

.bubble::before {
  background-color: #f2f2f2;
  content: '\00a0';
  display: block;
  height: 16px;
  position: absolute;
  top: 18px;
  transform: rotate(29deg) skew(-35deg);
  -moz-transform: rotate(29deg) skew(-35deg);
  -ms-transform: rotate(29deg) skew(-35deg);
  -o-transform: rotate(29deg) skew(-35deg);
  -webkit-transform: rotate(29deg) skew(-35deg);
  width: 20px;
}

.me {
  background-color: #8c8c8c;
  margin-left: 18px;
  margin-right: 60px;
}

.me::before {
  box-shadow: 0 0 31px 0 $box-shadow;
  left: -9px;
  background-color: #8c8c8c;
}

.you {
  background-color: #fafafa;
  color: black;
  margin-left: 60px;
  margin-right: 18px;
}

.you::before {
  box-shadow: 0 0 31px 0 $box-shadow;
  right: -9px;
  background-color: #fafafa;
}

.img-circle {
  border-radius: 50%;
  height: 42px;
  width: 42px;
}

.chats {
  position: relative;
  height: 100%;
}

.new-message {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #087ffe;
  height: 3rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-message-input {
  width: 99%;
  height: 80%;
  font-size: 1.5rem;
}

.sender-name {
  font-weight: bold;
  text-transform: capitalize;
}
#anchor-tag-text {
  color: black;
}
