@import '../../styles/variables';
.add-skills-input-label {
  @include set-typeface('sailec-light');
  color: $skills-button-background;
  border-bottom: solid 1px $skills-input-border;
  width: 100px;
  padding: 5px 0;
  margin-right: 10px;
  font-size: 14px;
  span {
    padding: 0 5px 0 0;
    box-sizing: border-box;
  }
  .add-skills-input {
    outline: none;
    border: none;
    background: transparent;
    &::placeholder {
      font-size: 14px;
      opacity: 0.7;
      color: $skills-button-background;
    }
  }
}

.skills-submit-btn {
  display: none;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  position: relative;
  .skills-list-additional {
    @include set-typeface('sailec-light');
    font-weight: normal;
    position: relative;
    top: -5px;
    color: $skills-button-background;
    border: 1px solid $skills-button-background;
    cursor: pointer;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    box-sizing: border-box;
    padding: 1px;
    font-size: 14px;
    background-color: $skills-background-opacity;
    display: flex;
    align-items: center;
    justify-content: center;
    .additional-skills-text {
      position: relative;
      top: 2px;
    }
  }
  .skills-pop-over {
    position: absolute;
    width: 185px;
    margin: 10px 0 0;
    border-radius: 2px;
    top: 40px;
    background: $skills-button-background;
    box-shadow: 8px 8px 15px 0 $box-shadow1;
    .arrow-up {
      border-bottom: 10px solid $skills-button-background;
      left: 85px;
    }
  }
}
.skills-pop-over {
  ul {
    box-sizing: border-box;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
  }
  li {
    font-weight: normal;
    padding: 2px 0 0 2px;
    font-size: 14px;
    color: $white-color;
    margin: 2px;
    box-sizing: border-box;
  }
}
.add-skills-container {
  display: flex;
}

.skill-card-container {
  @include set-typeface('sailec-light');
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 36px;
  color: $skills-button-background;
  border-radius: 18px;
  background-color: $skills-background-opacity;
  border: none;
  box-sizing: border-box;
  margin: 0 10px 10px 0;
  font-size: 14px;
}

.form-check-botton {
  cursor: pointer;
  font-size: 16px;
  padding: 0 0 0 10px;
}

.customClass {
  height: 100px;
  overflow-y: scroll;
}

.more-btn {
  outline: none;
  border: none;
  cursor: pointer;
}
.tap-message {
  @include set-typeface('sailec-regular-italic');
  font-style: italic;
  font-weight: 300;
  opacity: 0.31;
  color: $dark-gray;
  font-size: 14px;
  display: block;
  margin: 2px 0 0;
}
