.no-data-found-container {
  display: flex;
  height: 80vh;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.no-data-found-container .no-data-found-text {
  padding: 20px 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
}
