@import './variables';

@mixin font-style {
  font-weight: normal;
  font-style: normal;
}

body {
  @include set-typeface('sailec');
  line-height: 1;
  overflow: auto;
  background-color: $background-color;
  overflow: hidden;
}
.overflow-hide {
  overflow: hidden;
}
* {
  outline: none;
}

// Common styles for scrollbar
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background-color: $background-color;
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb {
  background: $scroll-background;
  border-radius: 5px;
  box-shadow: 0 0 3px $box-shadow;
}
