@font-face {
  @include font-style;
  font-family: 'sailec';
  src: url('/fonts/Sailec.otf');
}
@font-face {
  @include font-style;
  font-family: 'sailec-black';
  src: url('/fonts/Sailec-Black.otf');
}
@font-face {
  @include font-style;
  font-family: 'sailec-bold-italic';
  src: url('/fonts/Sailec-Bold-Italic.otf');
}
@font-face {
  @include font-style;
  font-family: 'sailec-bold';
  src: url('/fonts/Sailec-Bold.otf');
}
@font-face {
  @include font-style;
  font-family: 'sailec-light';
  src: url('/fonts/Sailec-Light.otf');
}
@font-face {
  @include font-style;
  font-family: 'sailec-medium-italic';
  src: url('/fonts/Sailec-Medium-Italic.otf');
}
@font-face {
  @include font-style;
  font-family: 'sailec-medium';
  src: url('/fonts/Sailec-Medium.otf');
}
@font-face {
  @include font-style;
  font-family: 'sailec-regular-italic';
  src: url('/fonts/Sailec-Regular-Italic.otf');
}
@font-face {
  @include font-style;
  font-family: 'sailec-thin';
  src: url('/fonts/Sailec-Thin.otf');
}
@font-face {
  @include font-style;
  font-family: 'ebgaramond-bold';
  src: url('/fonts/EBGaramond-Bold.ttf');
}
@font-face {
  @include font-style;
  font-family: 'ebgaramond-bold-italic';
  src: url('/fonts/EBGaramond-BoldItalic.ttf');
}
@font-face {
  @include font-style;
  font-family: 'ebgaramond-extra-bold';
  src: url('/fonts/EBGaramond-ExtraBold.ttf');
}
@font-face {
  @include font-style;
  font-family: 'ebgaramond-extra-bold-italic';
  src: url('/fonts/EBGaramond-ExtraBoldItalic.ttf');
}
@font-face {
  @include font-style;
  font-family: 'ebgaramond-italic';
  src: url('/fonts/EBGaramond-Italic.ttf');
}
@font-face {
  @include font-style;
  font-family: 'ebgaramond-medium';
  src: url('/fonts/EBGaramond-Medium.ttf');
}
@font-face {
  @include font-style;
  font-family: 'ebgaramond-medium-italic';
  src: url('/fonts/EBGaramond-MediumItalic.ttf');
}
@font-face {
  @include font-style;
  font-family: 'ebgaramond-regular';
  src: url('/fonts/EBGaramond-Regular.ttf');
}
@font-face {
  @include font-style;
  font-family: 'ebgaramond-semi-bold';
  src: url('/fonts/EBGaramond-SemiBold.ttf');
}
@font-face {
  @include font-style;
  font-family: 'ebgaramond-semi-bold-italic';
  src: url('/fonts/EBGaramond-SemiBoldItalic.ttf');
}
