@import './variables';
.react-datepicker__header {
  background: $background-color;
}
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range {
  background: $black-color;
}
.react-datepicker__year-read-view--selected-year {
  position: relative;
  top: 5px;
}
