@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

$background-color: #fafafa;
$black-color: #000000;
$white-color: #ffffff;
$disabled-color: #d3d5d7;
$grey-text: #969ba0;
$white1: #eaedf3;
$error-color: #ff0000;
$gray: #3e3f42;
$dark-gray: #1d1d1d;
$scroll-background: #8c8c8c;
$skills-input-border: #a9a9a9;
$skills-button-background: #1600d5;
$skills-button-text: #a39be5;
$orange: #ff9452;
$green-color: #6eae56;
$checkbox-border: #68c170;
$loader-background: rgba(0, 0, 0, 0.95);
$box-shadow: rgba(0, 0, 0, 0.14);
$box-shadow1: rgba(22, 0, 213, 0.06);
$skills-background-opacity: rgba(22, 0, 213, 0.1);
$admin-checked-background: #2196f3;
$admin-unchecked-background: #eee;
$admin-hover-background: #ccc;

@mixin set-typeface($typeface) {
  font-family: $typeface, sans-serif;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 20px, 0);
  }
}
