@import '../../styles/_variables.scss';
.chat-btn-container {
  display: none;
  line-height: 40px;
  height: 40px;
  width: 200px;
  position: fixed;
  bottom: 0;
  right: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 8px 8px 15px 0 $box-shadow;
  background-color: $white-color;
  box-sizing: border-box;
  cursor: pointer;
}
.dot {
  height: 12px;
  width: 12px;
  background-color: $green-color;
  border-radius: 50%;
  display: inline-block;
}
.main-component {
  box-sizing: border-box;
  padding: 110px 0 0;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
  width: 100%;
}

.chat-btn-container {
  &.video-btn-container {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .main-component {
    box-sizing: border-box;
    padding: 96px 0 0;
  }
}
