@import '../../styles/variables';
.mobile-header-container{
  display: flex;
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: 8px 8px 15px 0 $box-shadow1;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 96px;
  align-items: center;
  background-color: $white-color;
  .logo-search{
    display: flex;
    width: 90%;
    box-sizing: border-box;
    align-items: center;
  }
  .yml-logo{
    display: inline-block;
    box-sizing: border-box;
    width: 48px;
  }
  .mobile-search{
    width: 80%;
    height: 30px;
    padding: 0;
    margin: 0 0 0 10px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    .header-searchbar-input{
      width: 80%;
      box-sizing: border-box;
      background: transparent;
      padding: 0 10px;
      margin: 0;
    }
    form{
      width: 100%;
      padding: 0 10px;
    }
    .header-search-result{
      width: 100%;
      box-sizing: border-box;
      top: 50px;
    }
    .profile-image{
      font-size: 24px;
    }
  }
  .profile-popup-container{
    z-index: 5;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: $white-color;
  }
}
.profile-popup-container{
  .popup-header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    height: 96px;
  }
  .list-container{
    margin: 20px 24px;
  }
  li{
    @include set-typeface('sailec-light');
    font-weight: bold;
    margin: 40px 0 0;
    font-size: 24px;
    color: $dark-gray;
  }
}