@import '../../styles/variables';
.list-items {
  height: 40px;
  width: 40px;
  cursor: pointer;
  list-style: none;
  float: left;
  text-align: center;
  line-height: 40px;
}
.visible {
  height: 40px;
  width: 80px;
  cursor: pointer;
  list-style: none;
  float: left;
  text-align: center;
  line-height: 40px;
  a {
    outline: none;
    color: $black-color;
  }
}
.pagination {
  padding: 0;
  display: table;
  margin: 0 auto;
  a {
    outline: none;
    color: $black-color;
  }
  &:hover {
    border: 1px solid $black-color;
    background: $black-color;
  }
}

.pagination-container {
  width: 100%;
  background: $background-color;
  height: 700px;
}
.home-container-heading {
  @include set-typeface('ebgaramond-bold');
  font-weight: bold;
  font-size: 24px;
  color: $dark-gray;
  width: 88%;
  margin: 67px auto 0;
}
.employee-text {
  display: flex;
  flex-direction: column;
  .employee-count {
    padding: 10px 0;
    box-sizing: border-box;
  }
}
