@import '../../styles/_variables.scss';
.search-result {
  position: absolute;
  left: 30px;
  top: 70px;
  margin: 0 auto;
  overflow-y: scroll;
  width: 270px;
  max-height: 350px;
  border-radius: 8px;
  box-shadow: 0 0 31px 0 $box-shadow;
  background-color: $white-color;
}

@-moz-document url-prefix() {
  .search-result {
    overflow-y: hidden;
  }
}

.seach-result-user-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

.seach-result-user-card:nth-child(even) {
  background-color: #d9d9d9;
}

.search-user-name {
  font-size: 15px;
  cursor: pointer;
}
.search-profile-photo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.searchbar-input {
  display: block;
  width: 70%;
  outline: none;
  border: none;
  height: 30px;
  padding: 8px;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 0 0 31px 0 $box-shadow;
}

.search-input {
  margin: 10px auto;
  padding: 5px;
}

.custom-search-bar {
  margin-left: 0px;
  margin: 20px auto;
}
