@import '../../styles/_variables.scss';
.input-field-profile {
  width: 75%;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #a9a9a9;
  &.date-picker-profile {
    cursor: pointer;
  }
}
.input-field-profile::placeholder {
  font-size: 14px;
  opacity: 0.7;
}
.edit-profile-user-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.edit-profile-email-phone {
  margin-top: 35px;
}
.edit-profile-id-dob-dept {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.id-dob-dept {
  margin: 5px 2px;
}

.contact-info {
  @include set-typeface('ebgaramond-bold');
  font-size: 15px;
  font-weight: bold;
  line-height: 1.47;
  color: $skills-input-border;
  margin: 20px 0 10px 0;
}
.profile-email,
.profile-phone {
  display: flex;
}
.profile-email i {
  color: $skills-button-background;
  border-radius: 50%;
  text-align: center;
  padding: 4px 2px 0 2px;
  background-color: $skills-background-opacity;
  height: 24px;
  width: 24px;
}
.profile-phone i {
  margin-top: 8px;
  color: $skills-button-background;
  border-radius: 50%;
  text-align: center;
  padding: 4px 2px 0 2px;
  background-color: $skills-background-opacity;
  height: 22px;
  width: 22px;
}
.edit-profile-name {
  @include set-typeface('ebgaramond-regular');
  margin-bottom: 8px;
  font-size: 33px;
  color: $gray;
}
.phone-number-input {
  padding-top: 8px;
  margin-left: 20px;
}
.user-email {
  margin: 0;
  padding-top: 5px;
  margin-left: 20px;
  font-size: 15px;
  color: $gray;
}
.profile-label {
  @include set-typeface('ebgaramond-bold');
  font-size: 12px;
  font-weight: bold;
  line-height: 1.83;
  color: $skills-input-border;
}
.skills-header {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.47;
  color: $skills-input-border;
}
.error-msg {
  color: red;
  font-size: 12px;
}
.add-skills-container {
  margin: 17px 0;
}
.custom-select {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid $skills-input-border;
  padding: 1px 0;
}
.profile-user-employeeid {
  margin-top: 5px;
  color: $gray;
}

.skills-list-edit {
  max-height: 100px;
  width: 96%;
  overflow-y: scroll;
}

.profile-date-picker {
  background: $white1;
}
.margin-class {
  margin: 30px 0 20px 0;
}

.container {
  display: flex;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  left: 100px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.admin-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
  background-color: $admin-unchecked-background;
}

.container:hover input ~ .admin-checkmark {
  background-color: $admin-hover-background;
}

.container input:checked ~ .admin-checkmark {
  background-color: $admin-checked-background;
}

.admin-checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.container input:checked ~ .admin-checkmark:after {
  display: block;
}

.container .admin-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .edit-profile-id-dob-dept {
    flex-wrap: wrap;
  }
  .edit-profile-name {
    font-size: 24px;
  }
}
