@import '../../styles/variables';

.navbar-container {
  width: 100%;
  height: 110px;
  background-color: $white-color;
  box-shadow: 8px 8px 15px 0 $box-shadow1;
  position: fixed;
  top: 0;
  z-index: 1;
}
.navbar-header {
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.yml-logo {
  width: 80px;
  height: 25px;
  object-fit: contain;
}
.profile-logout {
  display: flex;
  align-items: center;
}
.drop-down {
  visibility: hidden;
  display: inline;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 0;
  margin-right: 10px;
}
.logout {
  @include set-typeface('sailec-light');
  font-weight: normal;
  font-size: 18px;
  border: none;
  cursor: pointer;
  outline: none;
  color: $dark-gray;
  margin-left: 30px;
  border-left: 2px solid $white1;
  padding-left: 30px;
  height: 40px;
  span {
    position: relative;
    top: 10px;
  }
}
.profile-button {
  display: flex;
}
.profile-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.signout-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 550px;
}
.signout-btn {
  background-color: $black-color;
  color: $white-color;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.logo-search {
  display: flex;
  align-items: center;
}
.header-search-bar {
  margin-left: 30px;
  border-left: 2px solid $white1;
  padding-left: 30px;
}
.header-searchbar-input {
  @include set-typeface('sailec-light');
  font-weight: 18px;
  padding: 10px 0;
  border: none;
  outline: none;
  width: 375px;
  margin-left: 10px;
  color: $skills-input-border;
  &::placeholder {
    width: 129px;
    height: 100px;
    font-size: 16px;
    color: $skills-input-border;
  }
}
.chat-navbar-container {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: $black-color;
  color: $white-color;
}
.logout-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p {
    font-weight: 600;
    font-size: 16px;
    padding: 0 0 20px;
  }
  .logout-modal-cancel {
    background: $white-color;
    color: $error-color;
  }
}
