.reciever-name {
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 15px;
  height: 80px;
  text-transform: capitalize;
  color: white;
  background: #8c8c8c;
}
.header-user-profile-picture {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.header-name-profile-image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: inherit;
}
.header-user-profile-name {
  margin-left: 15px;
  font-size: 28px;
  font-weight: bold;
}
