@import '../../styles/variables';
.projects-upload-container {
  position: relative;
  .skills-pop-over {
    position: absolute;
    width: 185px;
    margin: 10px 0 0;
    border-radius: 2px;
    top: -20px;
    left: 150px;
    background: $skills-button-background;
    box-shadow: 8px 8px 15px 0 $box-shadow1;
    .arrow-up {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $skills-button-background;
      transform: rotate(-90deg);
      left: -15px;
      top: 20px;
    }
  }

  .skills-pop-over {
    ul {
      box-sizing: border-box;
      padding: 20px 10px;
      display: flex;
      flex-wrap: wrap;
    }
    li {
      font-weight: normal;
      padding: 2px 0 0 2px;
      font-size: 14px;
      color: $white-color;
      margin: 2px;
      box-sizing: border-box;
      width: 100%;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
.project-list-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 10px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  .project-list-item {
    border-bottom: 1px solid $skills-input-border;
    box-sizing: border-box;
    margin: 10px;
    padding: 0 0 2px;
    display: flex;
    align-items: center;
    label {
      @include set-typeface('sailec-light');
      font-size: 14px;
      color: $skills-button-background;
      padding: 0 10px 0 0;
      box-sizing: border-box;
    }
    input {
      box-sizing: border-box;
      width: 16px;
      height: 16px;
      border: 1px solid $checkbox-border;
      border-radius: 1px;
      appearance: none;
      margin: 0 5px;
      cursor: pointer;
      position: relative;
      top: -2px;
      &.selected {
        display: none;
      }
    }
    span {
      @include set-typeface('sailec-light');
      font-size: 14px;
      margin: 0 0 0 5px;
      color: $dark-gray;
    }
    img {
      display: block;
      width: 15px;
      height: 15px;
      cursor: pointer;
      position: relative;
      top: -2px;
    }
  }
}
.input-container-project {
  position: relative;
}
