@import '../../styles/variables';
.feed-back-container {
  position: fixed;
  right: 20px;
  top: 90%;
  background: $skills-button-text;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid $skills-button-background;
  z-index: 1;
  cursor: pointer;
  span {
    color: $skills-button-background;
  }
  &:hover {
    animation: bounce 0.5s cubic-bezier(0.5, 0.05, 1, 0.5) alternate infinite;
  }
}
.feedback-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  .feedback-overlay-background {
    background: $black-color;
    opacity: 0.7;
    z-index: 2;
    width: 100%;
    height: inherit;
  }
  .form-section {
    background: $white-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 8px 8px 15px 0 $box-shadow1;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.form-section {
  .feedback-title {
    @include set-typeface('ebgaramond-regular');
    font-weight: normal;
    font-size: 18px;
    color: $dark-gray;
  }
  textarea {
    width: 100%;
    height: 200px;
    margin: 20px 0;
    border: solid 1px $skills-input-border;
    resize: none;
    color: $dark-gray;
  }
  img {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}
