.group-name {
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 15px;
  height: 80px;
  text-transform: capitalize;
  color: white;
  background: #8c8c8c;
}
.group-name-header {
  line-height: 80px;
  font-size: 28px;
  font-weight: bold;
}
