@import '../../styles/_variables.scss';
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 23%;
  height: 100%;
  box-shadow: 0 0 31px 0 $box-shadow;
  background-color: $background-color;
  color: $black-color;
  box-sizing: border-box;
}

.dashboard-icon {
  position: absolute;
  display: flex;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.user-list {
  padding: 0;
}

.sidebar-yml-logo {
  display: block;
  margin: 40px auto;
  height: 50px;
  width: 50%;
}
.name-list {
  display: block;
  text-decoration: none;
  list-style-type: none;
  line-height: 27px;
  color: $black-color;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 16px;
  background-color: $black-color;
  color: $black-color;
  margin: 5px auto;
}

.link-elem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 70px;
  margin: 0 auto;
  text-decoration: none;
  margin-bottom: 15px;
  color: $black-color;
  padding-left: 10px;
  background-color: $white-color;
  box-shadow: 0 0 31px 0 $box-shadow;
  border-radius: 10px;
}
.link-elem div {
  display: inline;
}
.sidebar-user-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.sidebar-user-profile-name {
  margin-left: 15px;
}
.groups-text {
  width: 90%;
  height: 30px;
  display: block;
  margin: 0 auto;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
}

.active-link {
  text-decoration: none;
  display: block;
  color: $black-color;
  background-color: $white-color;
}

.user-icon {
  padding-right: 5px;
}

.create-group-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  width: 120px;
  height: 35px;
  color: $black-color;
  outline: none;
  border: none;
  background-color: #595959;
  cursor: pointer;
  border-radius: 15px 15px;
  transition: all 0.3s;
}

.create-group-btn:hover {
  background-color: $white-color;
  color: $black-color;
}

.create-group-icon {
  font-size: 20px;
  padding: 2px;
}

.group-header {
  text-align: center;
}

.user-add-icon {
  padding-right: 5px;
  font-size: 20px;
}

.navlink-element {
  list-style-type: none;
  text-decoration: none;
  color: $black-color;
}

.nav-active-link {
  color: #087ffe;
}

.broadcast-icon,
.group-create-icon {
  padding: 10px;
  margin: 10px;
  color: $black-color;
  cursor: pointer;
  outline: none;
}

.broadcast-icon:hover,
.group-create-icon:hover {
  color: $black-color;
}

.header-break {
  width: 75%;
  display: block;
  margin: 5px auto;
  color: $black-color;
  border: 1.5px solid #595959;
}
.group-list {
  height: 320px;
  overflow-y: scroll;
}

.active-link-card {
  background-color: $scroll-background;
  color: $background-color;
}

.user-list {
  height: 200px;
  overflow-y: scroll;
}

@-moz-document url-prefix() {
  .group-list {
    scrollbar-color: $scroll-background $white-color;
    scrollbar-width: thin;
  }
  .user-list {
    scrollbar-color: $scroll-background $white-color;
    scrollbar-width: thin;
  }
}
