@import '../../styles/_variables.scss';
.message-window {
  width: calc(100% - 43%);
  height: 90%;
  position: absolute;
  left: 23%;
  bottom: 10%;
}

.chat-list {
  height: 90%;
  overflow-y: scroll;
}

.dashboard-header {
  position: fixed;
  top: 0;
  width: 80%;
  padding-left: 15px;
  height: 80px;
  text-transform: capitalize;
  color: white;
  background: #8c8c8c;
  text-align: left;
  font-size: 28px;
  font-weight: bold;
  line-height: 80px;
}
