@import '../../styles/_variables.scss';
.header-search-result {
  position: absolute;
  z-index: 3;
  max-height: 500px;
  overflow: auto;
  width: 400px;
  box-shadow: 0 0 31px 0 $box-shadow;
  background-color: white;
}
.header-seach-result-user-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px;
  box-sizing: border-box;
}
.header-search-user-name {
  font-size: 15px;
  color: black;
}
.search-profile-photo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
