@import '../../styles/variables';
.generic-modal-container {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  animation: opacityAnimation 0.4s ease;
  .modal-background {
    width: 100%;
    height: 100vh;
    background: $black-color;
    opacity: 0.5;
  }
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $white-color;
    width: 40%;
    height: 250px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 31px 0 $box-shadow;
  }
}

@media screen and (max-width:767px){
  .generic-modal-container{
    .modal-content{
      width: 90%;
      box-sizing: border-box;
    }
    .size-medium{
      width: 100px;
      box-sizing: border-box;
    }
  }
}
