@import '../../styles/variables';
.add-skills-input {
  outline: none;
  border: none;
  background: transparent;
  border-bottom: solid 1px $skills-input-border;
  width: 100px;
  padding: 5px 0;
  margin-right: 10px;
}
.skills-submit-btn {
  display: none;
}

.members-list {
  display: flex;
  flex-wrap: wrap;
}
.add-skills-container {
  display: flex;
}
.member-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 36px;
  border-radius: 18px;
  background-color: $skills-input-border;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 10px 10px 0;
}
.form-check-label {
  color: $black-color;
}
.form-check-button {
  font-size: 20px;
  font-weight: bold;
  color: $black-color;
  border: none;
  outline: none;
  background: transparent;
}
